#algolia-instant-search .algolia-header .algolia-filters-label {
    width: calc(260px + 2.4rem)
}

#algolia-instant-search #algolia-content-container .vs-sidebar {
    position: relative
}

[dir=ltr] #algolia-instant-search #algolia-content-container .vs-sidebar {
    float: left
}

[dir=rtl] #algolia-instant-search #algolia-content-container .vs-sidebar {
    float: right
}

[dir] #algolia-instant-search .algolia-search-input-right-aligned-icon {
    padding: 1rem 1.5rem
}

#algolia-instant-search .algolia-price-slider {
    min-width: unset
}

#algolia-instant-search .item-view-primary-action-btn {
    color: #2c2c2c !important;
    min-width: 50%
}

[dir] #algolia-instant-search .item-view-primary-action-btn {
    background-color: #f6f6f6
}

#algolia-instant-search .item-view-secondary-action-btn {
    min-width: 50%
}

@media (min-width:992px) {

    [dir] .vs-sidebar-rounded .vs-sidebar,
    [dir] .vs-sidebar-rounded .vs-sidebar--items {
        border-radius: .5rem
    }
}

@media (max-width:992px) {
    #algolia-content-container .vs-sidebar {
        position: absolute !important
    }

    [dir] #algolia-content-container .vs-sidebar {
        float: none !important
    }
}