@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap);


body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    max-width: 100%;
    transition: background-color .3s ease;
    color: #626262;
    background: #eee;
    -webkit-transition: background-color .3s ease;
}

body,
html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
}

body {
    display: block;
    margin: 8px;
}

html {
    font-size: 14px;
    width: 100%;
    line-height: 1.5;
    letter-spacing: .01rem;
}

.layout--main {
    height: 100%;
    min-height: 100%
}

.navbar-floating .vs-navbar-wrapper {
    position: fixed;
}

@media (min-width: 577px) {
    .navbar-floating .vs-navbar-wrapper {
        padding: 1.3rem 2.2rem 2.2rem;
    }
}

#content-area {
    height: 100%
}

@media (min-width: 1201px) {
    .main-vertical .vs-navbar-wrapper {
        width: calc(100% - 260px);
    }
}

.vs-navbar-wrapper {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(44%, hsla(0, 0%, 97.3%, .95)), color-stop(73%, hsla(0, 0%, 97.3%, .46)), to(hsla(0, 0%, 100%, 0)));
}

.vs-navbar-wrapper {
    background: linear-gradient(180deg, hsla(0, 0%, 97.3%, .95) 44%, hsla(0, 0%, 97.3%, .46) 73%, hsla(0, 0%, 100%, 0));
}

.navbar-floating .vs-navbar-wrapper {
    position: fixed;
}

.vs-navbar-wrapper {
    z-index: 41001;
    width: 100%;
    height: 103px;
    top: 0;
}

.vs-navbar.navbar-skelton {
    width: 100%;
    transition: all .5s;
    z-index: 10000
}

.vs-navbar.navbar-skelton {
    padding: .8rem 2.2rem;
    -webkit-transition: all .5s
}

.vs-navbar {
    border-radius: .5rem;
    padding: .8rem 1rem;
}

.navbar-custom .vs-navbar--btn-responsive {
    display: none !important
}

.navbar-custom .vs-spacer {
    display: block !important
}

.navbar-custom .vs-con-items {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%
}

#content-area {
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;
}

#content-area.content-area-reduced {
    margin-left: 260px
}

#content-area.content-area-lg {
    margin-right: 80px
}

#content-area.content-area-full {
    margin-right: 0
}

.content-area-lg .vs-navbar-wrapper {
    width: calc(100% - 80px)
}

.content-area-lg .vs-navbar-wrapper .vs-navbar {
    width: 100%
}

#content-area .content-wrapper {
    min-height: calc(var(--vh, 1vh)*100 - 3.5rem)
}

.footer-sticky .content-area-lg .the-footer {
    width: calc(100% - 80px)
}

.footer-sticky .content-area-full .the-footer {
    width: 100%
}

#content-overlay {
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    transition: opacity .7s;
    z-index: -1;
}

#content-overlay {
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    -webkit-transition: opacity .7s;
}

#content-overlay {
    left: 0;
    right: 0;
}

.relative {
    position: relative !important;
}

.router-view {
    position: relative;
    padding: 2.2rem;
}

@media (max-width:576px) {
    .router-view {
        padding: 1.2rem !important
    }
}

.router-view .content-area__heading h2 {
    color: #636363
}

.navbar-floating .router-content {
    margin-top: 5.5rem
}

@media (max-width:576px) {
    .navbar-floating .router-content {
        margin-top: 6rem
    }
}

.flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important
}

.items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important
}

.mb-6 {
    margin-bottom: 1.5rem !important
}

.inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important
}

.font-semibold {
    font-weight: 600 !important
}

.justify-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.items-end {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}

.flex-grow {
    -webkit-box-flex: 1 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

#algolia-instant-search .algolia-header .algolia-filters-label {
    width: calc(260px + 2.4rem);
}

#algolia-instant-search #algolia-content-container .vs-sidebar {
    float: left;
    position: relative;
}

@media (min-width: 992px) {

    .vs-sidebar-rounded .vs-sidebar,
    .vs-sidebar-rounded .vs-sidebar--items {
        border-radius: .5rem;
    }
}

.vs-input-shadow-drop input {
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .14);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .14);
}

.vs-select-no-border .vs-select--input {
    border: none !important
}

.con-select .vs-select--input {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .2)
}

.vs-select--options {
    font-size: 1rem;
    z-index: 530001;
    border: 1px solid #eee
}

.vs-select--options span {
    color: #626262;
    font-size: 1rem
}

.vs-select .dropdown-toggle .vs__actions .clear {
    padding-top: 4px
}

.vs-select--item:focus,
.vs-select--item:hover {
    background: #f5f5f5 !important;
}

button:focus {
    outline: none
}

.w-48 {
    width: 12rem !important
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.clearfix:after {
    content: "" !important;
    display: table !important;
    clear: both !important
}

@media (min-width:992px) {

    .vs-sidebar-rounded .vs-sidebar,
    .vs-sidebar-rounded .vs-sidebar--items {
        border-radius: .5rem
    }
}

@media (min-width: 992px) {

    .vs-sidebar-rounded .vs-sidebar,
    .vs-sidebar-rounded .vs-sidebar--items {
        border-radius: .5rem;
    }
}

@media (max-width:992px) {
    #algolia-content-container .vs-sidebar {
        position: absolute !important
    }

    #algolia-content-container .vs-sidebar {
        float: none !important
    }
}

.background-absolute .vs-sidebar--background {
    position: absolute
}

.w-full {
    width: 100% !important;
}

.vs-content-sidebar.items-no-padding .vs-sidebar--items {
    padding: 0
}

.sidebar-spacer-with-margin {
    width: calc(100% - 260px - 2.2rem);
    margin-left: calc(260px + 2.2rem)
}

.font-bold {
    font-weight: 700 !important
}